.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: blue;
  height: 30px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 90vh;
}

.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aqua;
  height: 400px;
  width: 300px;
}

.image {
  border-radius: 10px;
  height: auto;
  width: 150px;
}

.main-map {
  width: 100%;
}

.enabled {
  color: red;
}

.disabled {
  color: gray;
}
