body {
  margin: 0;
}

.page-wrapper {
  background-color: red;
}

.sidebar {
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 180px;
}

.section-wrapper {
  background-color: yellow;
  border: 1px solid black;
  height: 100vh;
  margin: 0 20px;
  position: relative;
  left: 200px;
  width: calc(100% - 200px);
}

.link-cards-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  /* flex-direction: column; */

  background-color: blueviolet;
  height: 900px;
}

.left-section {
  display: flex;
  height: 100%;
}

.left-section:hover {
  color: pink;
}

.right-section {
  display: flex;
}

.link-card {
  margin: 10px;
  padding: 5px 10px 10px 15px;
  transition: width 3s;
  width: 100px;
}

.link-card:hover {
  background-color: red;
  border-radius: 50%;
  width: 300px;
}

/* .left-card {
  align-self: flex-end;
  color: red;
} */

/* The animation code */
@keyframes grow-big {
  0% {
    height: 55px;
    width: 55px;
  }
  33% {
    height: 60px;
    width: 60px;
  }
  66% {
    height: 65px;
    width: 65px;
  }
  100% {
    height: 85px;
    width: 85px;
  }
}

@keyframes change-color {
  0% {
    color: black;
  }
  33% {
    color: blue;
  }
  66% {
    color: red;
  }
  100% {
    color: yellow;
  }
}

.image {
  height: 50px;
  width: 50px;
}

.image:hover {
  animation: grow-big 6s;
}

.image-text {
  color: black;
}

.image-text:hover {
  animation: change-color 6s;
}
