.page-wrapper {
  padding: 30px;
  margin-top: 80px;
}

.title-wrapper {
  border: 1px solid black;
  border-radius: 10px;
  margin: 30px 0 5px 5px;
  padding: 10px;
  height: 200px;
  position: relative;
}

.title {
  color: darkred;
  font-size: 36px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0 0 0 5px;
}

.subtitle {
  color: darkgray;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0 5px;
}

.image-large {
  height: 120px;
  border-radius: 50%;
}

.image-small {
  height: 40px;
  border-radius: 50%;
}

.form-wrapper {
  margin: 40px 5px;
}

.navbar {
  width: 100%;
  text-align: end;
  height: 25px;
  padding: 10px;
  background-color: darkgray;
  position: fixed;
  top: 0px;
  right: 0px;
}

.links-wrapper {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.link {
  border-bottom: 1px solid red;
  color: red;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px;
  padding: 3px;
}

.input {
  background-color: darkgray;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  outline: none;
}

.input:focus {
  background-color: black;
}

.input::placeholder {
  color: white;
  font-size: 16px;
}

@keyframes moveDisabled {
  /* from {
    transform: scale(1);
    background-color: lightgray;
  }
  to {
    transform: scale(2);
    background-color: black;
  } */
  0% {
    transform: scale(1);
    background-color: lightgray;
  }
  25% {
    transform: scale(1.25);
    background-color: gray;
  }
  50% {
    transform: scale(1.5);
    background-color: blue;
  }
  90% {
    transform: scale(2);
    background-color: black;
  }
}

.disabled-button {
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  color: gray;
  padding: 5px 10px;
}

.disabled-button:hover {
  animation: moveDisabled 4s;
}

.enabled-button {
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px;
  transition: background-color 1s ease-out 1s, transform 1s;
}

.enabled-button:hover {
  background-color: darkgreen;
  transform: scale(1.2);
}
