* {
  box-sizing: border-box;
  margin: 0;
}

.title {
  font-size: 40px;
  color: rgb(255, 0, 81);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.title.text {
  background-color: pink;
  color: black;
}

.subtitle {
  font-size: 32px;
  color: rgb(36, 29, 31);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.enabled-button {
  background-color: black;
  border: 1px solid aliceblue;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
  height: 30px;
  width: 100px;
}

.enabled-button:hover {
  color: rgb(255, 0, 81);
  width: 200px;
  transition: width 2s ease-in-out 2s, color 3s;
}

@keyframes move-disabled-button {
  0% {
    background-color: red;
    transform: translateX(10px);
    transform: translateY(50px);
  }
  25% {
    background-color: yellow;
    transform: translateX(20px);
  }
  50% {
    background-color: blue;
    transform: translateX(30px);
    transform: translateY(-50px);
  }
  75% {
    background-color: green;
    transform: translateX(40px);
  }
  100% {
    background-color: red;
    transform: translateX(50px);
    transform: translateY(50px);
  }
}

.disabled-button {
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  color: gray;
  cursor: pointer;
  text-align: center;
  height: 30px;
  width: 100px;
}

.disabled-button:hover {
  animation: move-disabled-button 2s infinite;
}

.links-wrapper {
  margin: 10px 0;
}

.link {
  border: 1px solid black;
  border-radius: 5px;
  color: green;
  padding: 5px 10px;
  margin: 10px;
  text-decoration: none;
}

.page-wrapper {
  position: relative;
}

.sidebar {
  background: rgb(167, 167, 167);
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  z-index: 10;
}

.large-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.small-image {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.input {
  background-color: rgb(255, 0, 81);
  border: none;
  padding: 3px 6px;
}

.input:focus {
  background-color: white;
  color: rgb(255, 0, 81);
}

.input::placeholder {
  color: white;
}

.checkbox {
  height: 25px;
  width: 25px;
  background: rgb(102, 11, 148);
}

.card {
  background-color: ghostwhite;
  background-color: ghostwhite;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
}

.wrapper {
  background-color: white;
  border: 1px solid black;
  height: 200px;
  position: relative;
}

.left-number {
  position: absolute;
  top: 0px;
  left: 100px;
}

.center-number {
  position: absolute;
  bottom: 100px;
  left: 300px;
}

.right-number {
  position: absolute;
  bottom: 0;
  right: 0;
}

.position-wrapper {
  border: 1px solid aliceblue;
  height: 200px;
  position: relative;
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.position-one {
  position: absolute;
  right: 0;
  bottom: 10px;
  margin: 2px;
  padding: 2px;
}

.position-two {
  position: absolute;
  left: 10px;
  top: 40px;
  margin: 2px;
  padding: 2px;
}

.position-three {
  position: fixed;
  top: 0;
}

.flex-wrapper {
  /* flex props */
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* design */
  background-color: white;
  width: 100vw;
}

.flex-child {
  background-color: aliceblue;
  border: 1px solid black;
  /* height: 20vh; */
  width: 100vw;
}

.flex-child-and-parent {
  /* flex props */
  display: flex;
  justify-content: center;
  /* design */
  background: slategray;
}

.flex-grandchild {
  background-color: white;
  flex-grow: 1;
  margin: 10px;
  width: 100px;
}

.flex-grandchild-middle {
  /* flex props */
  align-items: center;
  display: flex;
  justify-content: center;
  /* design */
  background-color: aliceblue;
  flex-grow: 4;
  margin: 10px;
  width: 100px;
}

.flex-grandchild-right {
  /* flex props */
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

.form-completed {
  background-color: green;
}

.text-input {
  margin: 10px;
  width: 200px;
}

.file-input {
  margin: 10px;
  width: 200px;
}

.radio-lady {
  position: absolute;
  right: 0;
  top: 0;
}

.radio-gaga {
  position: absolute;
  right: 0;
  bottom: 0;
}

.about-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.about-card {
  border: 1px solid black;
  height: 400px;
  /* margin: 20px 0; */
  width: 200px;
}

.about-links-wrapper {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
  height: 40px;
  width: 200px;
}

.about-flex-wrapper > .child {
  background-color: yellowgreen;
  margin: 20px;
}

.submit-button {
  border-radius: 10px;
  /* color: white; */
  cursor: pointer;
  text-align: center;
  height: 30px;
  width: 70px;
}

.button-enabled {
  background: rgb(251, 123, 144);
  border-radius: 5px;
  border: 1px solid black;
  color: rgb(252, 26, 64);
  height: 40px;
  width: 100px;
}

.button-disabled {
  background: rgb(254, 208, 216);
  border-radius: 5px;
  border: none;
  color: pink;
  opacity: 0.3;
  height: 40px;
  width: 100px;
}
